html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*My reset*/
*::before, *, *::after {
  box-sizing: border-box; }

a {
  display: inline-block;
  text-decoration: none; }

img {
  width: 100%;
  height: auto;
  font-size: 0;
  vertical-align: top; }

button,
input,
textarea {
  box-shadow: none;
  outline: 0;
  border: 0; }

/*Base styles*/
html {
  font-size: 16px;
  line-height: 1.5; }

body {
  line-height: 1.5; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.75rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

p {
  font-size: 1rem; }

/*Align text*/
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/*Flex properties*/
.flex {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.align-start {
  display: flex;
  align-items: flex-start; }

[class*="grid-"] {
  display: grid;
  grid-gap: 15px; }

.grid-col-4 {
  grid-template-columns: repeat(4, 1fr); }

.grid-col-3 {
  grid-template-columns: repeat(3, 1fr); }

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr); }

.grid-col-1 {
  grid-template-columns: repeat(1, 1fr); }

/* Center child*/
.center-child {
  display: grid;
  place-items: center; }

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  height: 100vh; }

.boxContainer {
  width: 800px;
  margin: 0 auto;
  padding: 2rem; }

input {
  width: 500px;
  border-radius: 5px;
  font-size: 1rem;
  border: 0.5px solid #cad8c9;
  padding: 1rem;
  margin-top: 1rem; }

.btn {
  background: #61b85c;
  font-size: 1rem;
  padding: 0.7rem;
  margin: 1rem;
  border-radius: 6px; }

.headerContainer {
  width: 60%;
  background: #fff;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto; }

.nav {
  width: 100%;
  padding: 1rem 0; }
  .nav h4 {
    color: #61b85c; }
  .nav a {
    padding-left: 3rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #d3cdcd; }

.banner {
  box-shadow: inset 0px 0px 3px 0.5px rgba(0, 0, 0, 0.75);
  background: #61b85c;
  padding: 3rem;
  text-align: center; }
  .banner h2 {
    font-size: 4rem;
    color: #fff; }
  .banner h4 {
    color: #d3cdcd;
    font-weight: 300; }

hr {
  margin: 0 auto; }

.feedContainer {
  width: 50%;
  background: #fff;
  margin: 0 auto; }

.newArticle {
  margin-top: 5rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .newArticle input {
    text-align: left;
    padding: 1rem;
    width: 100%; }
  .newArticle textarea {
    text-align: left;
    padding: 1rem;
    width: 100%;
    border: 0.5px solid #cad8c9;
    margin-top: 1rem; }
  .newArticle input[type="submit"] {
    margin-right: 0 auto;
    width: 20%;
    background: #61b85c;
    text-align: center; }

h2 {
  color: #61b85c; }

.profileContainer {
  width: 100%;
  text-align: center;
  padding: 2rem;
  margin-top: 1rem;
  border: 0.5px solid #cad8c9;
  color: #d3cdcd; }
  .profileContainer h2 {
    padding: 1rem; }

.profileFeed {
  border: 0.5px solid #cad8c9;
  margin-top: 2rem;
  padding: 1rem; }
